doctype html
html(ng-app="vineyard", data-framework="angularjs", lang="en")
  head
    title Vineyard
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="robots", content="noindex, nofollow")
    meta(name="viewport" content="width=device-width")
    meta(name='description', content='Realtime Chat Application')
    meta(name='author', content='Benjamin')

    link(rel='icon', type='image/png', href='images/logo.png', sizes="64x64")
    // Bootstrap
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    // FontAwesome
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    // Font
    link(rel="stylesheet/css", type="text/css", href="//fonts.googleapis.com/css?family=Open+Sans")
    //link(rel="stylesheet", type="text/css", href="css/masonry.css")

    style.
        body {

            background: #191919 url(http://pattern8.com/images/pattern-thumbs/pattern8-pattern-76a.png) repeat left top;
        }
        .wrapper {
            width: 100%;
        }
        .masonry {
            width: 100%;
        }
        .item {
            background: rgba(169, 23, 45, 0.86);
            padding: 0.5em;
            float: left;
            margin: 0 0 1.5em;
            min-width: 280px;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
        }
        .item .title  {
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 1.5em;
            text-shadow: 1px 1px #000;
        }
        .item img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
        .nav-bar {
            height: 80px;
            width: 100%;
            background: rgba(0, 0, 0, 0.65);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
            color: #fff;
        }
        .comments .comment {
            margin: 10px 0px;
            border: 1px solid rgba(255, 255, 255, 0.31);
            background-color: rgba(255, 255, 255, 0.05);
        }
        .comment .avatar {
            width: 32px;
            height: 32px;
            background-color: #fff;
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
        }
        .comment .text {
            color: #fff;
            display: inline-block;
        }
        .input textarea {
            width: 100%;
            border: 1px solid #fff;
            color: #fff;
            padding: 4px;
            background-color: rgba(255, 255, 255, 0.25);
        }

        @media only screen and (min-width: 700px) {
            .item {
                min-width: 120px;
            }
        }

        @media only screen and (min-width: 900px) {
            .item {
                min-width: 180px;
            }
        }

        @media only screen and (min-width: 1100px) {
            .item {
                min-width: 240px;
            }
        }

        @media only screen and (min-width: 1280px) {
            .item {
               width: 30%;
               margin: 1.65%;
            }
        }


  body(ng-controller="VineController as vine", ng-cloak, vine-scroller="vine.scroll()")
    nav.nav-bar
        ul
            li
                h1 AngularJs + Babel + JSPM + GULP
    //div(ng-controller="VineController as vine")
        h2 List of Github users
            ul
                li(ng-repeat="user in vine.users") {{user.id}}. {{user.login}}
    div.wrapper
        div.masonry(masonry="{ 'transitionDuration' : '0.4s' , 'gutter' : '20'}")
            div.item(masonry-tile, ng-repeat="user in vine.users")
                a.title(href="#") {{user.login}}
                img.image(ng-src="{{user.avatar_url}}")
                div.comments
                    div.comment
                        img.avatar(ng-src="{{user.avatar_url}}")
                        div.text "hola como va"
                div.input
                    textarea
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
        System.import("./app/app");

